body {
	background: url(../img/bg.jpg);
}

#domeStartGuideBtn {
	position: absolute;
	top: 40%;
	right: 0px;
}

#domeUsingPanel {
	display: none;
	position: absolute;
	top: 80px;
	right: 200px;
	width: 350px;
}

#domeGithubBtn {
	display: none;
	position: absolute;
	top: 4px;
	left: 12px;
}
